# File mẫu biến môi trường — commit file này lên GitHub.
# Khi setup thực tế, copy file này thành .env rồi điền thông tin thật vào.
# cp .env.example .env

REDIS_HOST=192.168.56.10
REDIS_PORT=6379
REDIS_CHANNEL=blacklist_sync
HONEYPOT_IP=192.168.56.12
